body {

    background-color: #6b5875;
}

.navbar {
    list-style: none;
}

.nav-link {
    color: rgb(10, 10, 10);

    /* color: red; */
}

.row3 {
    background-color: #f7f1f1;
    color: black;
}

.img1 {
    margin: 5%;
    border-radius: 40px 0px 50px;
    height: 100%;
}

.i2 {
    /* background-color: #6b6565; */
}

#mynav {
    margin-left: 40%;
}

li {
    margin-left: 50px;

}